page-manage-local {
    .title-list {
        font-size: 1.5em;
        font-weight: bold;
        color: #000;
    }
    img {
        max-width: 10.6rem !important;
        max-height: 10.6rem !important;
    }
    .row-item {
        margin: auto;
    }
    .button-fab {
        z-index: 100;
    }
    .badge-status {
        background: red;
        height: 25px;
        width: 100%;
    }
    .item,
    .item-divider {
        margin: 1px;
        border: 1px solid #fcba04;
        border-radius: 4px;
        background: #ffe18e;
    }
    .item-title {
        text-shadow: 1px 1px 5px #7e0a0a;
        text-align: center;
        top: 36%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .item-subtitle {
        text-align: center;
        font-size: 1.0em;
        top: 52%;
        width: 100%;
        color: #7e0a0a;
    }
}