page-manage-local {
    img {
        max-width: 10.6rem !important;
        max-height: 10.6rem !important;
    }
    .row-item {
        margin: auto;
    }
    .button-fab {
        z-index: 100;
    }
}